alias config="/usr/bin/git --git-dir=$HOME/.files/ --work-tree=$HOME"
alias zsc="vim ~/.zshrc"
alias ll="ls -Gal"
alias chrome="open -a Google\ Chrome"
alias gs="git status"
alias gc="git commit -m"
alias ls="ls -Ga"
alias charm="open -na 'PyCharm.app'"
alias storm="open -na 'WebStorm.app'"
