[submodule "dracula"]
	path = dracula
	url = https://github.com/dracula/vim.git
[submodule "terminal-app"]
	path = terminal-app
	url = https://github.com/dracula/terminal-app.git
[submodule "sexy-bash-prompt"]
	path = sexy-bash-prompt
	url = https://github.com/twolfson/sexy-bash-prompt.git
